<div id="wrapper" class="active">
    <div id="sidebar-wrapper">
        <ul class="nav flex-column row" id="sidebar">
            <li class="nav-item first">
            </li>
        </ul>
        <ul class="nav flex-column row" id="sidebar">
            <li class="nav-item">
                <i class="fas fa-user sub_icon"></i>
            </li>
            <li class="nav-item">
                <i class="fas fa-chart-line sub_icon"></i>
            </li>
            <li class="nav-item ">
                <i class="fas fa-pencil-ruler sub_icon"></i>
            </li>
            <li class="nav-item ">
                <i class="fas fa-clock sub_icon"></i>
            </li>
            <li class="nav-item">
                <i class="fas fa-chart-bar sub_icon"></i>
            </li>
            <li class="nav-item">
                <i class="fas fa-tachometer-alt sub_icon"></i>
            </li>
        </ul>
    </div>
</div>