<div class="top">
    <div class="container main input-group input-group-sm mb-3">
        <div class="col-5 name">
            <h5>Jones Arc.</h5>
        </div>

        <input type="text" class="form-control" placeholder="Search proyects, clients, staff and more..." aria-describedby="inputGroup-sizing-sm">

        <div class="input-group-append">
            <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button> -->
        </div>

        <div class="col-3 .offset-6">
            <i class="fas fa-plus-circle icon-plus"></i>
            <i class="fas fa-clock icon-clock"></i>

            <button class="btn btn-sm button-drop dropdown-toggle drop" type="button">
                    <i class="fas fa-user"></i> Matilda
                    </button>

            <i class="fas fa-question-circle icon-clock"></i>
        </div>

    </div>
    <div class="nav-font container shadow p-3 mb-5 bg-white rounded">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">BALANCE COMPANY SCORE</a>
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Strategy Maps</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">KPI</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <h6>STM 2019</h6>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
        </div>
    </div>

</div>